<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/based.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/extras.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/aside.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/hq.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <title>Bem Vindo.</title>
</head>

<body id="scroll-body">
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">PEWS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{!-- <ITENS DA NAV HAHAHAH> --}}
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/avaliacao"> Nova Avaliação <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/relatorios"> | Lista Relatórios | </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sua Conta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/cadastro/">Cadastro</a>
            <a class="dropdown-item" href="/login/">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/configuracoes/">Configurações</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>

  <!-- mudacor -->
  <div class="caixa-muda-cor" id="caixaMudaCor">
  </div>

  {{!-- mensagem --}}
  {{>_msg}}
  <!-- conteudo -->
  {{{body}}}

  <!-- footer -->
  <footer>
    Site feito por Lucas Marcão e Jhonatan ;)
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
  </div>

  <!-- js - codigos -->
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <script id="inserehtml" src="/js/insereHTML.js"></script>
  <script src="/js/cores.js"></script>
  <script src="/js/global.js"></script>
</body>

</html>