<div class="centro">
    <main>
        <div class="centroTudo">
            <div class="cabecaMain card-header cardIndexG margemFacil">
                <h1 class="titulao">
                    Menu da página
                </h1>

                BPEWS
                <hr />
                Pontuação de Alerta Precoce Pediátrico
            </div>
        </div>

        <hr />
        <h4>
            Conheça o Brighton Pediatric Early Warning Score - PEWS, e como
            utilizar a ferramenta
        </h4>

        <div class="centroTudo">
            <div class="quadroOi">
                <div class="centro">
                    <aside class="centro-aside">
                        <div class="card text-center">
                            <div class="card-header cardIndexG">
                                <h4>
                                    O QUE É O BPEWS
                                </h4>
                            </div>
                            <div class="card-body cardIndexH">
                                <h5 class="card-title">Explicação</h5>
                                <p class="card-text">O BPEWS é uma ferramenta de
                                    avaliação contínua e padronizada, utilizada
                                    para detectar crianças em estado de
                                    deterioração clínica.

                                </p>
                                <a href="#" class="btn btn-primary">
                                    TUTORIAL
                                </a>
                            </div>
                            <div class="card-footer text-muted cardIndexG">
                                A ferramenta consiste na atribuição de notas
                                baseadas em parâmetros fisiológicos como
                                frequência cardíaca, frequência respiratória e
                                nível de consciência. Uma pontuação extra é
                                atribuída nos casos de necessidade de
                                intervenção com nebulizadores e em casos de
                                presença de vômitos persistentes no
                                pós-operatório. A pontuação varia em uma escala
                                de 0 a 3 pontos, indicando se existe gravidade.
                                A pontuação extra é de 2 pontos para a presença
                                de cada item. A somatória da nota atribuída a
                                criança varia de 0 a 13 pontos, indicando ao
                                profissional de saúde quais intervenções deverão
                                ser realizadas com a criança.
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

    </main>
</div>