/* global */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff7d1 !important;
}

nav {
    background-color: #ffd09b !important;
}

.margemFacil {
    margin: 15px 0;
}

.miniMargem {
    margin: 15px 0;
}

h4 {
    margin: 10px 0 !important;
    padding: 5px;
    text-align: center;
}

h1 {
    margin-top: 30px !important;
    margin-bottom: 10px;
    text-align: center;
}

.centroTudo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonteGrande {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 36px;
}

.fonteGigante {
    font-size: 66px;
}

.quadroOi {
    padding: 12px;
    width: 80%;
    border: 1px solid black;
    background-color: #ffb0b0;
    margin: 10px 0;
}

.cabecaMain {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    width: 80%;
}

.cardIndexG {
    background-color: #ffecc8 !important;
}

.cardIndexI {
    background-color: #ffb0b0 !important;
}

.cardIndexH {
    background-color: #ffd09b !important;
}
/* navbar */

/* main */

/* aside */

/* footer */
footer {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: #ffd09b;
    padding-top: 10px;
    text-align: center;
}

/* modal - bruto */

/* extras - bruto */

/* COMENTARIOS */

/* MAIS recentes :*/
/*{ categoria recentes */

/* th */

.relatorioBusca {
    border: #ffd09b 1px solid !important;
    background-color: #ffd09b !important;
    width: 100%;
}
.labelBuscaRelatorio {
    margin-top: 10px;
    background-color: #fff7d1 !important;
}

thead {
    border: #ffd09b 1px solid !important;
}

tr {
    border: #ffd09b 1px solid !important;
}

th {
    text-align: center !important;
    border: #ffb0b0 2px solid !important;
    background-color: #ffecc8 !important;
}

td {
    text-align: center;
    border: #ffd09b 1px solid !important;
}

/* .paginacaoMargem */

.paginacaoPai {
    background-color: #ffecc8 !important;
    border: #ffd09b ridge 6px !important;
}

.paginacaoFilho {
    background-color: transparent !important;
}

.paginacaoMargem {
    margin-top: 32px !important;
}

.page-link {
    margin: 1px 5px;
    background: #fff7d1 !important;
    color: #b2c0e9;
    padding: 12px 18px !important;
    border: #ffb0b0 ridge 2px !important;
}

.ativoPaginacao {
    padding: 10px 16px !important;
    background-color: #ffd7aa !important;
    border: #fff7d1 ridge 4px !important;
}

/* fundaoForms */

.fundaoForms {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    background-color: #ffd7aa !important;
    border: 2px solid #ffb0b0;
}

.formAvaliacoes {
    width: 90% !important;
}

.checkSegunda {
    margin-left: 4px !important;
}

.labelCheckPews::first-letter {
    margin-left: 25px;
}

.labelPrimeiraAvaliacao {
    margin-top: 16px;
    text-align: center;
}

.checkPews {
    padding: 6px;
    border-radius: 6px;
    background-color: #ffecc8;
    border: #ffb0b0 solid 2px;
}

.quadrado1 {
    height: 430px;
    width: 100%;
    border: 3px solid #ffd7aa;
    background-color: #ffb0b0;
}

.imgQuadrado {
    margin: 30px;
    width: 250px;
}

.quadrado2 {
    height: 430px;
    width: 100%;
    border: 1px solid #ffd09b;
    background-color: #ffd09b;
}
.ladobtn {
    margin-right: 10px;
}
.coisoDados {
    text-align: center;
    width: 95%;
}

.cor2 {
    text-align: center;
    background-color: #ffd09b !important;
}

/* responsivo */
@media (max-width: 991.98px) {
    /* navbar */

    /* recentes */
}
