<h1>
    Modifique dados de sua conta aqui.
</h1>

<h3 style="text-align: center;">
    Configurações
</h3>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="centroTudo">
                <div class="quadrado1">
                    <div class="centroTudo">
                        <img
                            class="imgQuadrado"
                            src="/img/medicor.png"
                            alt="icon"
                        />
                    </div>
                    <div class="centroTudo">
                        <div class="checkPews">
                            User: Marcaozitos lucs.
                        </div>
                    </div>
                    <div class="centroTudo margemFacil">
                        <button class="btn btn-warning ladobtn">
                            Editar Foto.
                        </button>
                        <button class="btn btn-danger">
                            Excluir Foto.
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="centroTudo">
                <div class="quadrado2">
                    <div class="centroTudo margemFacil">
                        <div class="checkPews coisoDados margemFacil">
                            Email: || lucas2004marcao@gmail.com
                        </div>
                    </div>

                    <div class="centroTudo margemFacil">
                        <div class="checkPews coisoDados margemFacil">
                            Senha: || ************
                        </div>
                    </div>

                    <div class="centroTudo margemFacil">
                        <div class="checkPews coisoDados margemFacil">
                            Telefone: || 44 99958-9958
                        </div>
                    </div>

                    <div class="centroTudo margemFacil">
                        <div class="checkPews coisoDados margemFacil">
                            Cargo: || Enfermeiro.
                        </div>
                    </div>

                    <div class="centroTudo margemFacil">
                        <button class="btn btn-warning ladobtn">
                            Editar campos
                        </button>
                        <button class="btn btn-danger">
                            Sair da conta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cudeputa">

</div>