<h1>
    Primeira parte da avaliação
</h1>

<br />
<br />
<h3
    style="padding-left: 50px; padding-right: 50px; text-align: center;
    margin-top: 5px; margin-bottom: 15px;"
>
    Obtendo informações do paciente. 0% concluido.
</h3>

<hr />

<div class="container margemFacil fundaoForms">
    <div class="row">
        <div class="col-12 centroTudo">

            <form
                class="formAvaliacoes"
                action="/paciente/nova"
                method="post"
                autocomplete="off"
            >
                <div class="form-group form-row">
                    <label
                        for="nome"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        Nome do paciente:
                    </label>
                    <input
                        type="text"
                        class="form-control margemFacil col-md-6"
                        name="nome"
                        id="nome"
                        aria-describedby="emailHelp"
                        minlength="3"
                        required
                    />
                </div>
                <hr />

                <div class="form-group form-row">
                    <label
                        for="leito"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        Leito:
                    </label>
                    <input
                        type="number"
                        class="form-control margemFacil col-md-6"
                        name="leito"
                        id="leito"
                        aria-describedby="emailHelp"
                        min="0"
                        required
                    />
                </div>
                <hr />

                <div class="form-group form-row">
                    <label
                        for="dataNascimento"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        data de Nascimento:
                    </label>
                    <input
                        type="date"
                        class="form-control margemFacil col-md-6"
                        name="dataNascimento"
                        id="dataNascimento"
                        required
                    />
                </div>
                <hr />

                <div class="form-group form-row">
                    <label
                        for="preco"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        DIH (preço serviço em R$)
                    </label>
                    <input
                        type="number"
                        class="form-control margemFacil col-md-6"
                        id="preco"
                        name="preco"
                        aria-describedby="emailHelp"
                        min="0"
                        required
                    />
                </div>
                <hr />

                <div class="form-group form-row">
                    <label
                        for="dataConsulta"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        Data da inicial da Consulta.
                    </label>
                    <input
                        type="date"
                        class="form-control margemFacil col-md-6"
                        id="dataConsulta"
                        name="dataConsulta"
                        aria-describedby="emailHelp"
                        min="0"
                        required
                    />
                </div>
                <hr />

                <div class="centroTudo">
                    <a href="/">
                        <button
                            type="button"
                            class="btn btn-danger"
                            style="margin-right: 15px !important;"
                        >
                            Cancelar Avaliação.
                        </button>
                    </a>
                    <a href="/avaliacao-parte-2/">
                        {{! transformar em tipo subimt depois }}
                        <button type="submit" class="btn btn-primary">
                            Próxima parte ->
                        </button>

                    </a>

                </div>
            </form>
        </div>
    </div>
</div>

<hr />