<link rel="stylesheet" href="/css/form.css" />
<h1>
    Terceira e ultima parte da avaliação.
</h1>

<hr />

<div class="container margemFacil fundaoForms">
    <div class="row">
        <div class="col-12 centroTudo">

            <form class="formAvaliacoes">
                <fieldset class="form-group row">
                    <legend
                        class="col-form-label col-sm-4 float-sm-left pt-0"
                        style="font-size: 22px; text-align: center;"
                    >
                        <div class="centroTudo">
                            <h4 style="padding-top: 20px !important;">
                                <strong>
                                    Nebulização de resgate em 15 minutos
                                </strong>
                            </h4>
                        </div>
                    </legend>
                    <div class="col-sm-8">
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios1"
                                value="0"
                                checked
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios1"
                            >
                                Não | + 0
                            </label>
                        </div>
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios2"
                                value="2"
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios2"
                            >
                                Sim | + 2
                            </label>
                        </div>
                    </div>
                </fieldset>
                <hr />

                <fieldset class="form-group row">
                    <legend
                        class="col-form-label col-sm-4 float-sm-left pt-0"
                        style="font-size: 22px; text-align: center;"
                    >
                        <div class="centroTudo">
                            <h4 style="padding-top: 20px !important;">
                                <strong>
                                    Três (3) episódios ou mais de emese no
                                    pós-operatório
                                </strong>
                            </h4>
                        </div>
                    </legend>
                    <div class="col-sm-8">
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="b"
                                id="b1"
                                value="0"
                                checked
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="b1"
                            >
                                Não | + 0
                            </label>
                        </div>
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="b"
                                id="b2"
                                value="2"
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="b2"
                            >
                                Sim | + 2
                            </label>
                        </div>
                    </div>
                </fieldset>
                <hr />

                <div class="form-group">
                    <label for="exampleInputEmail1" style="font-size: 22px;">
                        Comentário a mais.
                    </label>
                    <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        placeholder="Alguma observação / opcional."
                    ></textarea>
                    <hr />
                </div>

                <div class="centroTudo">
                    <a href="/">
                        <button
                            type="button"
                            class="btn btn-danger"
                            style="margin-right: 15px !important;"
                        >
                            Cancelar Avaliação.
                        </button>
                    </a>
                    <a href="/relatorios/">
                        <button
                            type="button"
                            class="btn btn-success"
                            style="margin-right: 15px !important;"
                        >
                            Gerar Relatório.
                        </button>
                    </a>
                    <a href="/relatorios/">
                        {{! transformar em tipo subimt depois }}

                        <button type="button" class="btn btn-info">
                            Ver intervenções recomendadas.
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<hr />