<link rel="stylesheet" href="/css/components/maisrecente.css" />
<h1>
    avaliacao-parte-2
</h1>

<div class="centro">
    <div class="teste">

    </div>
</div>

<script src="/js/estilosComponent.js"></script>