<h1>
    Primeira parte da avaliação
</h1>

<br />
<br />
<h3
    style="padding-left: 50px; padding-right: 50px; text-align: center;
    margin-top: 5px; margin-bottom: 15px;"
>
    Obtendo informações do paciente. 0% concluido.
</h3>

<hr />

<div class="container margemFacil fundaoForms">
    <div class="row">
        <div class="col-12 centroTudo">

            <form class="formAvaliacoes">
                <div class="form-group form-row">
                    <label
                        for="exampleInputEmail1"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        Nome do paciente:
                    </label>
                    <input
                        type="text"
                        class="form-control margemFacil col-md-6"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        min="4"
                        required
                    />
                </div>
                <hr />

                <div class="form-group form-row">
                    <label
                        for="leito"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        Leito:
                    </label>
                    <input
                        type="number"
                        class="form-control margemFacil col-md-6"
                        id="leito"
                        aria-describedby="emailHelp"
                        min="0"
                        required
                    />
                </div>
                <hr />

                <div class="form-group form-row">
                    <label
                        for="idade"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        Idade do paciente:
                    </label>
                    <input
                        type="number"
                        class="form-control margemFacil col-md-6"
                        id="idade"
                        aria-describedby="emailHelp"
                        min="0"
                        required
                    />
                </div>
                <hr />

                <div class="form-group form-row">
                    <label
                        for="pr"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        DIH (preço serviço em R$)
                    </label>
                    <input
                        type="number"
                        class="form-control margemFacil col-md-6"
                        id="pr"
                        aria-describedby="emailHelp"
                        min="0"
                        required
                    />
                </div>
                <hr />

                <div class="form-group form-row">
                    <label
                        for="dt"
                        class="labelPrimeiraAvaliacao col-md-6 margemFacil"
                        style="font-size: 22px;"
                    >
                        Data da inicial da Consulta.
                    </label>
                    <input
                        type="date"
                        class="form-control margemFacil col-md-6"
                        id="dt"
                        aria-describedby="emailHelp"
                        min="0"
                        required
                    />
                </div>
                <hr />

                <div class="centroTudo">
                    <a href="/">
                        <button
                            type="button"
                            class="btn btn-danger"
                            style="margin-right: 15px !important;"
                        >
                            Cancelar Avaliação.
                        </button>
                    </a>
                    <a href="/avaliacao-parte-2/">
                        {{! transformar em tipo subimt depois }}
                        <button type="button" class="btn btn-primary">
                            Próxima parte ->
                        </button>

                    </a>

                </div>
            </form>
        </div>
    </div>
</div>

<hr />