<link rel="stylesheet" href="/css/form.css" />
<h1>
    Segunta parte da avaliação.
</h1>

<hr />

<div class="container margemFacil fundaoForms">
    <div class="row">
        <div class="col-12 centroTudo">

            <form class="formAvaliacoes">
                <fieldset class="form-group row">
                    <legend
                        class="col-form-label col-sm-4 float-sm-left pt-0"
                        style="font-size: 22px; text-align: center;"
                    >
                        <div class="centroTudo">
                            <h4 style="padding-top: 20px !important;">
                                <strong>
                                    Avaliação Cardio-vascular
                                </strong>
                            </h4>
                        </div>
                    </legend>
                    <div class="col-sm-8">
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios1"
                                value="option1"
                                checked
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios1"
                            >
                                Corado ou TEC 1-2 seg | + 0
                            </label>
                        </div>
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios2"
                                value="option2"
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios2"
                            >
                                Pálido ou TEC 3 seg ou FC acima do limite
                                superior para a idade + 1
                            </label>
                        </div>
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios3"
                                value="option3"
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios3"
                            >
                                Moteado ou TEC 4 seg ou FC ≥ 20 bpm acima do
                                limite superior para a idade | + 2
                            </label>
                        </div>
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios4"
                                value="option4"
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios4"
                            >
                                Acinzentado/cianótico ou TEC ≥ 5 seg ou FC ≥ 30
                                bpm acima do limite superior para a idade ou
                                bradicardia para a idade | + 3
                            </label>
                        </div>
                    </div>
                </fieldset>
                <hr />

                <fieldset class="form-group row">
                    <legend
                        class="col-form-label col-sm-4 float-sm-left pt-0"
                        style="font-size: 22px; text-align: center;"
                    >
                        <div class="centroTudo">
                            <h4 style="padding-top: 20px !important;">
                                <strong>
                                    Avaliação Respiratória
                                </strong>
                            </h4>
                        </div>
                    </legend>
                    <div class="col-sm-8">
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios1"
                                value="option1"
                                checked
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios1"
                            >
                                FR normal para a idade, sem retração | + 0
                            </label>
                        </div>
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios2"
                                value="option2"
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios2"
                            >
                                FR acima do limite superior para a idade, uso de
                                musculatura acessória ou FiO2 ≥ 30% ou 4
                                litros/min de O2 | + 1
                            </label>
                        </div>
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios3"
                                value="option3"
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios3"
                            >
                                FR ≥ 20 rpm acima do limite superior para a
                                idade, retrações subcostais, intercostais e de
                                fúrcula ou FiO2 ≥ 40% ou 6 litros/min de O2 | +
                                2
                            </label>
                        </div>
                        <div class="form-check miniMargem checkPews">
                            <input
                                class="form-check-input checkSegunda"
                                type="radio"
                                name="gridRadios"
                                id="gridRadios4"
                                value="option4"
                            />
                            <label
                                class="form-check-label labelCheckPews"
                                for="gridRadios4"
                            >
                                Acinzentado/cianótico ou TEC ≥ 5 seg ou FC ≥ 30
                                bpm acima do limite superior para a idade ou
                                bradicardia para a idade | + 3
                            </label>
                        </div>
                    </div>
                </fieldset>

                <hr />
                <div class="centroTudo">
                    <a href="/">
                        <button
                            type="button"
                            class="btn btn-danger"
                            style="margin-right: 15px !important;"
                        >
                            Cancelar Avaliação.
                        </button>
                    </a>
                    <a href="/avaliacao-parte-3/">
                        {{! transformar em tipo subimt depois }}
                        <button type="button" class="btn btn-primary">
                            Próxima parte ->
                        </button>
                    </a>

                </div>
            </form>
        </div>
    </div>
</div>

<hr />