<h1>
    relatorio do paciente
</h1>

<hr />

<h4>
    DADOS :
</h4>

<div class="container centroTudo margemFacil">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Número </th>
                <th scope="col">Nome </th>
                <th scope="col">Leito</th>
                <th scope="col">DIH </th>
                <th scope="col">Idade</th>
                <th scope="col">Data da Avaliação
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">a2134616</th>
                <td>Lucas Marcão</td>
                <td>3</td>
                <td>420 R$</td>
                <td>19 anos</td>
                <td> 11/08/2024 </td>
            </tr>
        </tbody>
    </table>

</div>

<hr />
<br />

<H4>
    Componente Avaliativo.
</H4>

<div class="container centroTudo margemFacil">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Dado </th>
                <th scope="col">Resultado </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Avaliação Neurológica </td>
                <td>Ativo. </td>
            </tr>
            <tr>
                <td>Pontuação</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Avaliação Cardio-vascular</td>
                <td>Corado ou TEC 1-2 seg</td>
            </tr>
            <tr>
                <td> Pontuação</td>
                <td> 0 </td>
            </tr>
            <tr>
                <td> Avaliação Respiratória </td>
                <td> FR normal para a idade, sem retração </td>
            </tr>
            <tr>
                <td> Pontuação</td>
                <td> 0 </td>
            </tr>
            <tr>
                <td> Nebulização de resgate em 15 minutos </td>
                <td> Não </td>
            </tr>
            <tr>
                <td> Pontuação</td>
                <td> 0 </td>
            </tr>
            <tr>
                <td> Avaliação Respiratória </td>
                <td> FR normal para a idade, sem retração </td>
            </tr>
            <tr>
                <td>
                    Três (3) episódios, ou mais, de emese no pós-operatório</td>
                <td> Não </td>
            </tr>
        </tbody>
    </table>

</div>

<hr />
<br />

<H4>
    Intervenção Recomendada
</H4>

<div class="container centroTudo margemFacil">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col"> Fazer: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sinais vitais de 6/6 horas </td>
            </tr>
            <tr>
                <td>Manter rotina de avaliação</td>
            </tr>
            <tr>
                <td>PEWS a cada 24 horas</td>
            </tr>
        </tbody>
    </table>

</div>